<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MonoSymbolicateHelper.WpfClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MonoSymbolicateHelper.WpfClient.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <MonoSymbolicateHelper.WpfClient.Properties.Settings>
            <setting name="ArchivePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CommandPath" serializeAs="String">
                <value>C:\Program Files (x86)\MSBuild\Xamarin\Android\mono-symbolicate.exe</value>
            </setting>
            <setting name="PackageName" serializeAs="String">
                <value />
            </setting>
            <setting name="VersionCode" serializeAs="String">
                <value />
            </setting>
        </MonoSymbolicateHelper.WpfClient.Properties.Settings>
        <MonoSymbolicateHelper.WpfClient.ApplicationSettings>
            <setting name="ArchivePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CommandPath" serializeAs="String">
                <value>C:\Program Files (x86)\MSBuild\Xamarin\Android\mono-symbolicate.exe</value>
            </setting>
            <setting name="PackageName" serializeAs="String">
                <value />
            </setting>
            <setting name="VersionCode" serializeAs="String">
                <value />
            </setting>
        </MonoSymbolicateHelper.WpfClient.ApplicationSettings>
    </userSettings>
</configuration>